[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numba = "==0.38.0"
gwlf-e = {ref = "develop", git = "git://github.com/drexeleds/gwlf-e"}

[dev-packages]

[requires]
python_version = "2.7"
